body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, rgb(25, 29, 31), rgb(149, 8, 29)); 
    font-family: 'Arial', sans-serif;
}

.game-container {
    text-align: center;
    background-color: rgba(17, 1, 1, 0.8);
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

h1 {
    color: rgb(255, 69, 0); 
}

#gameCanvas {
    background: rgb(111, 9, 9);
    border: 2px solid rgb(84, 27, 27);
    border-radius: 10px;
    color: white;
}

#instructions {
    margin-top: 20px;
    color: white;
    font-size: 18px;
}

#scoreboard {
    margin-top: 10px;
    font-size: 20px;
    color: rgb(0, 102, 204); 
}